.contacts {
  width: 100%;
  min-height: calc(100vh - 100px);
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-content {
  display: flex;
  justify-content: space-around;
  min-width: 1200px;
  min-height: 100vh;
  height: 100%;
  padding-top: 30px;
}