.about-us {
  font-size: 23px;
}

.about-us-title {
  font-size: 42px;
  color: #247277;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.about-us-text {
  text-align: justify;
  color: black;
  margin-bottom: 10px;
}

.about-us-text-important {
  font-weight: 500;
  color: #247277;
}

@media screen and (max-width: 800px) {
  .about-us-title {
    font-size: 30px;
  }

  .about-us {
    font-size: 16px;
  }
}
