.privacy {
  font-size: 23px;
}

.privacy-title {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: bold;
  color: #247277;
  text-align: center;
  display: block;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  margin-inline: 5px;
  margin-bottom: 40px;
}

.privacy span {
  display: block;
  margin-block: 30px;
  padding-inline: 10px;
}

.privacy ul,
.privacy ol {
  list-style: none;
  /* Убираем стандартную нумерацию */
  padding-left: 0;
  /* Убираем отступ */
}

.privacy li::before {
  content: "- ";
  /* Добавляем дефис перед пунктом */
  margin-right: 5px;
}

@media screen and (max-width: 800px) {
  .privacy-title {
    margin-inline: 5px;
    font-size: 30px;
  }

  .privacy {
    font-size: 16px;
  }
}

@media screen and (max-width: 426px) {
  .privacy-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 321px) {
  .privacy-title {
    font-size: 22px;
  }

  .privacy {
    font-size: 16px;
  }
}